@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-light: #fff1;
  --bg-medium: #fff2;
  --body-bg-1: #315d;
  --body-bg-2: #111d;
  --border-light: #fff3;
  --border-medium: #fff5;
  --border-heavy: #fff9;
  --button-hover-border: #ca2;
  --card-bg-1: #222;
  --card-bg-2: #000;
  --card-black-color: #777;
  --card-red-color: #d02;
  --card-height: 7em;
  --card-width: 5em;
  --high-score-shadow: black;
  --text-highlighted: #ca2;

  background-color: var(--body-bg-1);
  background-image: radial-gradient(circle farthest-corner, var(--body-bg-1), var(--body-bg-1), var(--body-bg-2)), url(assets/bg-pattern.png);
  color: #fffb;
  color-scheme: only dark;
  font-family: Quicksand, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: 500;
  height: 100%;
  line-height: 1.4;
  overflow: hidden;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* total width: 33em, height: 65em */
@media (min-width: calc(33 * 10px)) and (min-height: calc(65 * 10px)) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: calc(33 * 11px)) and (min-height: calc(65 * 11px)) {
  :root {
    font-size: 11px;
  }
}
@media (min-width: calc(33 * 12px)) and (min-height: calc(65 * 12px)) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: calc(33 * 13px)) and (min-height: calc(65 * 13px)) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: calc(33 * 14px)) and (min-height: calc(65 * 14px)) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: calc(33 * 15px)) and (min-height: calc(65 * 15px)) {
  :root {
    font-size: 15px;
  }
}
@media (min-width: calc(33 * 16px)) and (min-height: calc(65 * 16px)) {
  :root {
    font-size: 16px;
  }
}
[hidden] {
  display: none !important;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  user-select: none;
  width: 100%;
}

button {
  background-clip: padding-box;
  background-color: var(--bg-medium);
  border-radius: 0.5em;
  border: 1px solid transparent;
  box-shadow: 0 -0.15em #fff6;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:not(:disabled):hover {
  border-color: var(--button-hover-border);
}
button:focus,
button:focus-visible{
  outline: 2px solid var(--button-hover-border);
}
button:disabled {
  cursor: unset;
  opacity: 0.3;
}

h1, h2, h3 {
  font-weight: 500;
}

.button-row {
  display: inline-flex;
  gap: 1em;
}

.container {
  max-width: 30rem;
  margin-inline: auto;
}

/* @media (prefers-color-scheme: light) {
 TODO light mode
} */

.actives {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1.5em;
}
.active {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3em;
  width: 5em;
}
.active--engaged {
  background-color: #ff33;
}
.active svg {
  display: block;
  height: 3.5em;
  width: auto;
}
.active__name--strike {
  text-decoration: line-through;
}

.board-wrap {
  display: grid;
  grid-template-areas:
    'h h h h h .'
    'b b b b b .'
    'b b b b b .'
    'b b b b b .'
    'b b b b b .'
    'b b b b b .'
    '. . . . . .';
}
.board {
  display: grid;
  gap: 0.25em;
  grid-area: b;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.board__header {
  grid-area: h;
}
.board__score {
  align-items: center;
  align-self: center;
  display: flex;
  height: 3em;
  justify-content: center;
  justify-self: center;
  width: 3em;
}
.board__score:nth-child(2) {
  position: relative;
  left: -1em;
}
.board__score:nth-child(13) {
  position: relative;
  left: -1em;
}
.board__tile {
  align-items: center;
  background-color: var(--bg-light);
  border-radius: 0.75em;
  display: flex;
  height: calc(var(--card-height) + 0.5em);
  justify-content: center;
  width: calc(var(--card-width) + 0.5em);
}
.board__tile:hover {
  background-color: var(--bg-medium);
}

.card {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--card-bg-1),
    var(--card-bg-2)
  );
  border: 1px solid var(--border-medium);
  border-bottom-color: var(--border-light);
  border-top-color: var(--border-heavy);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  height: var(--card-height);
  justify-content: center;
  padding: 0;
  width: var(--card-width);
}
.card--deck {
  box-shadow: -1px -1px var(--card-bg-2), -2px -2px var(--border-light),
    -3px -3px var(--card-bg-2), -4px -4px var(--border-light);
  margin-left: auto;
  margin-top: 0.5em;

}
.card--black path {
  fill: var(--card-black-color);
}
.card--no-border {
  background: unset;
  border: unset;
}
.card--obstructed {
  align-items: start;
  gap: 0.2em;
  justify-content: start;
}
.card--obstructed .card__face {
  font-size: 1.2em;
  margin-top: 0.2em;
}
.card--obstructed .card__suit {
  font-size: 1.6em;
  margin-left: 0.2em;
}
.card--red path {
  fill: var(--card-red-color);
}
.card__face {
  font-size: 1.5em;
  text-align: center;
  width: 1.6em;
}
.card__suit {
  display: grid;
  font-size: 3em;
  line-height: 0.6;
}
.card__suit svg {
  grid-column: 1;
  grid-row: 1;
  height: 0.75em;
  width: auto;
}
.card__suit--shine {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  overflow: hidden;
  width: 50%;
}
.card__suit--shine path {
  fill: #fff3;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.83em;
  list-style-type: none;
  margin-block: 1em;
  padding: 0;
}
.deck > * {
  margin: 0.5em;
}

header {
  background: var(--bg-light);
  display: flex;
  gap: 1em;
  height: 4.6em;
  padding: 1em;
}

.high-score {
  display: grid;
  place-items: center;
}
.high-score > * {
  grid-area: 1 / 1;
}
.high-score h1 {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 1em var(--high-score-shadow), 0 0 1em var(--high-score-shadow);
}
.high-score svg {
  height: 10em;
  opacity: 0.7;
  width: auto;
  z-index: -1;
}

.instructions {
  font-size: 1.25em;
  padding: 1em 0 5em;
}

.menu-screen {
  text-align: center;
}
.menu-screen::before {
  background-image: repeating-conic-gradient(
    at center 25em,
    #ffffff0a 0 6deg,
    #fff0 6deg 12deg
  );
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
}
.menu-screen__buttons {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  gap: 1em;
  margin: 3em auto 0;
  width: 10em;
}
.menu-screen__suits {
  display: grid;
  gap: 0.5em 0;
  grid: 1fr 1fr / 1fr 1fr;
  padding: 1em 0.5em;
  place-items: center;
}
.menu-screen__suits svg {
  height: 1.5em;
  width: auto;
}
.menu-screen__suits path {
  fill: var(--card-black-color);
}
.menu-screen__suits svg:nth-child(2) path,
.menu-screen__suits svg:nth-child(3) path {
  fill: var(--card-red-color);
}
.menu-screen__title {
  background-image: radial-gradient(closest-side, #fff2, #fff0);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-items: center;
  margin: 2em auto;
  width: 29em;
}
.menu-screen__title span {
  font-size: 4em;
  font-weight: bold;
}

.next-cards {
  margin-left: 4px;
  margin-right: auto;
}
.next-cards__deck {
  align-items: end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.next-cards__deck > * {
  margin-right: -3em;
}

.status-bar {
  align-items: flex-end;
  display: flex;
  gap: 0.5em;
  margin: 1em 0 -1.5em;
  position: relative;
  width: 28.5em;
  z-index: 1;
}
.status-bar__scores {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-align: right;
}

.summary {
  align-self: center;
  font-size: 1.5em;
  height: calc(100% - 2em);
  margin-block: 3em;
  position: relative;
  text-align: center;
  width: calc(100% - 2em);
}
.summary b {
  color: var(--text-highlighted);
}
.summary__header {
  display: grid;
  place-items: start center;
}
.summary__header > * {
  grid-area: 1/1;
}
.summary__header svg {
  height: 2.5em;
  position: relative;
  top: -1.5em;
  width: auto;
}
.summary__scores {
  border-bottom: 1px solid var(--border-light);
  border-top: 1px solid var(--border-light);
  padding: 1.5em 4em;
}
.summary__score-row {
  display: flex;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 1em;
  width: fit-content;
}
